.card:hover {
  box-shadow: 0 6px 14px 0 rgba(43, 49, 61, 0.5);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 73vw;
  margin-bottom: 1em;
}

.cardText {
  margin: auto;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #2b313d;
}

/* .link:hover {
  color: #d4cec2;
} */

@media (min-width: 1084px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 17em;
    width: 20vw;
    max-inline-size: 60vh;
  }
  .image {
    display: block;
    object-fit: cover;
    height: 10em;
    padding: 3px 0 3px 0;
  }
}
