.wrapper {
  margin-top: 4.8rem;
}

.prevNext {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
}

.prevNextWrapper {
  position: fixed;
  bottom: 25vh;
  width: 100%
}

.externalLinks {
 display: flex;
 justify-content: center;
}

.link {
  border-radius: 12px;
  margin: 1vh;
  padding: 1vh;
  color: #f7f7f7;
  text-decoration: none;
  background: #f27f7a
}

.link:visited {
  color: #f7f7f7;
}

.link:hover {
  color: #eae4e4
}

.prevNextLi {
  text-decoration: none;
}