.section {
  margin: auto;
  padding: 30px;
  background-color: #2b313d;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.list {
  margin: 0;
}

.asideHeader {
  color: #d4cec2;
  font-size: 2rem;
  margin: 0 0 5 0;
}

.aboutHeader {
  color: #d4cec2;
  font-size: 2rem;
  margin: 0 0 5 0;
}

.aboutSub {
  color: #f27f7a;
}

p {
  color: #d4cec2;
  width: 80%;
}

.listItem {
  list-style: none;
  border-bottom: 1px solid #d4cec2;
  width: 80%;
  color: #d4cec2;
}

.listItem:last-child {
  border: none;
}

@media (min-width: 810px) {
  .about {
    width: 75%;
    padding: 40px;
  }
  .aside {
    width: 75%;
    padding: 40px;
  }

  .list {
    margin: 0;
  }
  .listItem {
    list-style: none;
    border-bottom: 1px solid #d4cec2;
    color: #d4cec2;
  }
  .listItem:last-child {
    border: none;
  }

  .asideHeader {
    color: #d4cec2;
    font-size: 2rem;
    margin: 0 0 5 0;
  }

  .aboutHeader {
    color: #d4cec2;
    font-size: 2rem;
    margin: 0 0 5 0;
  }

  .aboutSub {
    color: #f27f7a;
  }

  .section {
    display: flex;
    justify-content: space-between;
    background-color: #2b313d;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  }
}
