.section {
  margin: auto;
  width: 75%;
  padding: 30px;
}

.list {
  margin: 0;
}

.asideHeader {
  color: #2b313d;
  font-size: 2rem;
  margin: 0 0 5 0;
}

.aboutHeader {
  color: #2b313d;
  font-size: 2rem;
  margin: 0 0 5 0;
}

.aboutSub {
  color: #f27f7a;
}

p {
  color: #666666;
}

.listItem {
  list-style: none;
  border-bottom: 1px solid #2b313d;
  color: #666666;
}

.listItem:last-child {
  border: none;
}

@media (min-width: 810px) {
  .about {
    width: 75%;
    padding: 40px;
  }
  .aside {
    width: 75%;
    padding: 40px;
  }

  .list {
    margin: 0;
  }
  .listItem {
    list-style: none;
    border-bottom: 1px solid #2b313d;
    color: #666666;
  }
  .listItem:last-child {
    border: none;
  }

  .asideHeader {
    color: #2b313d;
    font-size: 2rem;
    margin: 0 0 5 0;
  }

  .aboutHeader {
    color: #2b313d;
    font-size: 2rem;
    margin: 0 0 5 0;
  }

  .aboutSub {
    color: #f27f7a;
  }

  .section {
    display: flex;
    justify-content: space-evenly;
  }
}
