.link {
  text-decoration: none;
  color: #34495e;
}

.logo {
  display: none;
}

.navigation {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}
.logo .link,
.navigation .link {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.navigation .link {
  color: #34495e;
  font-size: 0.99em;
}

.navigation .link:hover {
  color: #718daa;
}

.header {
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 10vh;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 770px) {
  .logo {
    display: flex;
    margin: 0;
    align-items: center;
    margin-left: 10px;
  }
  .header {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
